 
   <div class="container"  >
  <div class="row top0">
    <div class="col-md-3"></div>
    <div class="col-md-6 top1">
         <div class="container">
            <div class="row top2 topl">
             
               <div class="col-md-12 " style="padding:4vh">
                 <h1 class="head0"  >The Bliss</h1>
                <h6 class="head1">Services with Bliss</h6>

                 <form class="form0" [formGroup]="signupForm">
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" formControlName="name" id="exampleFormControlInput1" placeholder="Name">
      <p *ngIf="signupForm.controls.name.errors  && (signupForm.controls.name.dirty || signupForm.controls.name.touched)" class="alert alert-info">Please enter valid name as Adhere card!</p>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Contact</label>
   <input type="text" class="form-control" id="exampleFormControlSelect1" formControlName="phone" placeholder="Please enter your phone number">
   <p *ngIf="signupForm.controls.phone.errors  && (signupForm.controls.phone.dirty || signupForm.controls.phone.touched)"  class="alert alert-info">Please enter valid email address!</p>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect2">Password</label>
   <input type="password" class="form-control"   formControlName="password"  id="exampleFormControlSelect2" placeholder="Please choose your password">
   <p *ngIf="signupForm.controls.password.errors  && (signupForm.controls.password.dirty || signupForm.controls.password.touched)"  class="alert alert-info">Please enter password!</p>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Landsmarks</label>
    <textarea class="form-control"  formControlName="address" id="exampleFormControlTextarea1" rows="1">
    </textarea>
     <p *ngIf="signupForm.controls.address.errors  && (signupForm.controls.address.dirty || signupForm.controls.address.touched)"  class="alert alert-info">Please enter address og mangalore only!</p>
  </div>


  <div class="form-group">
     <label for="exampleFormControlSelect1">Category </label>
    <select class="form-control" formControlName="type"  id="exampleFormControlSelect1">
      <option>Plumber</option>
      <option>Electrician</option>
      <option>Carpenter</option>
      <option>Wood</option>
      
    </select>
   
   <p *ngIf="signupForm.controls.type.errors  && (signupForm.controls.type.dirty || signupForm.controls.type.touched)"  class="alert alert-info">Please selected  any one above
     !</p>
  </div>

  <button type="button" [disabled]="!signupForm.valid" class="btn btn-outline-dark btn-lg btn-block b1" (click)="create()">Profile Created --></button>
</form>
                 </div> 
            </div>
         </div>
    </div>
    <div class="col-md-3"></div>
  </div>
 </div>